header {
    display: inline;
    background-color: #262b4d;
    height: 120px;
    width: 100%;
}

body {
    display: block;
    background-color: #1174b6;
    margin: 0;
}

.logoCSPheader {
    height: 100px;
    margin: 10px;
}

header h1 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
} 