header {
    display: block;
    background-color: #262b4d;
    height: 100px;
}

body {
    display: block;
    background-color: #1174b6;
    margin: 0;
}

.logoCSPheader {
    height: 100px;
    margin: 10px;
}