<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSP ticket essayage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img class="logoCSPheader" src="./static/images/logoCSP.png" alt="logo CSP">
        <h1>Gestionnaire de ticket d'essayage</h1>
        <p style="width: 120px; margin: 0;"></p>
    </header>
    <section class="tableau">
        <div class="case jourdanLÉANE"><p class="prenom">Léane</p><p class="nom">Jourdan</p><p class="code">#00001-léaneLÉANE-U13-Maillot-Short</p><p class="inutilisé">Inutilisé<p>
        <div class="case jourdanQUENTIN"><p class="prenom">Quentin</p><p class="nom">Jourdan</p><p class="code">#00002-quentinQUENTIN-U15-Maillot-Short</p><p class="inutilisé">Utilisé<p>
        <div class="case jourdanTHIBAUD"><p class="prenom">Thibaud</p><p class="nom">Jourdan</p><p class="code">#00003-thibaudTHIBAUD-U18-Pull</p><p class="inutilisé">Utilisé<p>
        <div class="case jourdanAURÉLIE"><p class="prenom">Aurélie</p><p class="nom">Jourdan</p><p class="code">#00004-aurélieAURÉLIE-Loisir-Chasuble</p><p class="inutilisé">Inutilisé<p>
        <div class="case jourdanFRANCK"><p class="prenom">Franck</p><p class="nom">Jourdan</p><p class="code">#00005-franckFRANCK-Loisir-Chasuble</p><p class="inutilisé">Inutilisé<p>
    </section>
</body>
</html>